<div class="inner_wrapper" data-ng-class="{'add_height': addHeight}"
	data-ng-controller="templateCtrl">
	<div>
		<!-- PAGE HEADING -->
		<div class="page_heading">
			<div data-ng-style="header.title.style"
				data-ng-class="header.title.cssClass">
				<span class="icon" data-ng-class="header.title.text|join"></span>{{header.title.text | translate}}
			</div>
		</div>
		<div class="clearfix"></div>
		<!-- END PAGE HEADING -->

		<!-- ERROR MESSAGES -->
		<div data-ng-show="dashboardError">
			<button data-ng-click="dashboardError = []" type="button"
				class="close" style="left: -4px;"></button>
			<div class="alert alert-danger"
				data-ng-repeat="error in dashboardError">
				<div>
					<strong>Error Code - </strong> <span>{{error.errorCode}}</span>
				</div>
				<div>
					<strong>Error Message - </strong> <span
						data-ng-repeat="item in (error.errorMessage | newLine)">{{item  | translate}}<br /></span>
				</div>
				<div data-ng-if="error.errorDetails">
					<strong>Error Details - </strong> <span>{{error.errorDetails  | translate | newLine}}</span>
				</div>
				<div data-ng-if="error.widgetName">
					<strong>widgetName - </strong> <span>{{error.widgetName  | translate| newLine}}</span>
				</div>
			</div>
		</div>
		<!-- END ERROR MESSAGES -->

		<!-- FILTERS -->
		<filters data-ng-if="filterJSON" value="filterJSON" level="level"
			position="'top'" data-ng-class="filterJSON.cssClass"> </filters>
		<!-- END FILTERS -->

		<!-- CONTAINER -->
		<div class="container" data-ng-class="header.title.text|join"
			data-ng-show="templateURL" data-ng-include="templateURL"></div>
		<!-- END CONTAINER -->
	</div>
	<!-- END CONTENT -->
</div>