<div class="widget border_container" data-ng-if="show">
	<!-- filters -->
	<filters data-ng-class="widgetInfo.filters.cssClass"
		data-ng-if="widgetInfo.filters" value="filterInner" level="level">
	</filters>
	<!-- errors -->
	<div class="alert" style="margin-top: 10px"
		data-ng-class="'alert-'+widgetErrorType" data-ng-show="widgetError">
		<b>Error Code:</b> {{widgetError.id}} <br /> <b>Error Message:</b>
		{{widgetError.msg}}
	</div>
	<!-- widgets -->
	<div data-ng-show="widgetError.id!=='6030'">
		<div class="widget_options">
			<div class="btn-group export_button"
				data-ng-model="exportOptions.type"
				data-ng-if="widgetExporting.enabled === true" style="float: left">
				<form class="download" target="_blank" name="frmExportWidget"
					action="export/exportDashboard" method="POST">
					<input type="hidden" name="pagelist" /> <input type="hidden"
						name="exportType" /> <input type="hidden" name="widget" /> <input
						type="hidden" name="filters" /> <input data-ng-model="_csrf"
						type="hidden" name="X-CSRF-TOKEN" />
				</form>
				<button class="btn btn-default dropdown-toggle"
					data-toggle="dropdown">
					<span class="export_icon"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li data-ng-repeat="exportOption in exportOptions.options"><a
						data-ng-click="exportOptions.function(exportOption)">{{exportOption}}</a>
					</li>
				</ul>
			</div>
			<div style="display: inline-block">
				<a href="" class="zoom" data-ng-show="showZoom"
					data-ng-click="widget.zoom({'data':widgetData,'info':widgetInfo})"><i
					class="glyphicon glyphicon-fullscreen"></i></a>
			</div>
		</div>
		<div class="border_container_inr">
			<span class="widget_icon" style="float: left"
				data-ng-style="widgetInfo.title.style"> <img
				data-ng-if="widgetIcon" data-ng-src="{{widgetIcon}}" />
			</span>
			<div data-ng-if="widgetInfo.title.text" class="container_header"
				data-ng-style="widgetInfo.title.style">{{widgetInfo.title.text  | translate }}</div>
			<div data-ng-if="widgetInfo.subTitle.text"
				class="container_subheader"
				data-ng-style="widgetInfo.subTitle.style">{{widgetInfo.subTitle.text  | translate}}</div>

			<div
				style="text-align: right; height: 20px; position: relative; z-index: 1">
				<div data-ng-click="goBack()" data-ng-if="showBack"
					class="btn btn-xs btn-primary goBackButton" translate>Go Back</div>
			</div>
			<div data-ng-include="widgetUrl" data-ng-class="widgetInfo.cssClass"
				data-ng-style="widgetInfo.style" data-ng-hide="dashboardError"
				id="{{containerName}}"></div>
		</div>
	</div>
</div>